.title-clock{
    margin-top: 4rem;
    font-family :Verdana;
    color: #fff;
}

.digital-clock{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
}

.time{
    font-size: 2rem;
    color: #fff;
    margin-top: 1rem;
}